<div id= "forum_align">


<h1>Listing forums</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Topic</th>
      <th>Creator</th>
      <th>Creation Date</th>
      <th></th>
      
    </tr>
  </thead>

  <tbody>
    <% @forums.each do |forum| %>
      <tr>
        <td><%= forum.topic %></td>
        <td><%= forum.user.email %></td>
        <td><%= forum.created_at %></td>
        <center>
        <td><%= link_to 'Enter Forum', forum, class: 'btn btn-info' %>
        	<% if can? :edit, Forum %>
        <%= link_to 'Edit', edit_forum_path(forum), class: 'btn btn-primary' %>
        <%end %>
        <% if can? :edit, Forum %>
        <%= link_to 'Destroy', forum, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        <%end %>
        </center>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, Forum %>
  <%= link_to 'New Forum', new_forum_path %>
<% end %>
</div>
