<div class="mainbackground">
<div id="forumsshow">
<h1 id="page_title">VMoves Forums</h1>
<p id="notice"><%= notice %></p>
<table class="table forum-striped">
  <tr>
    <th>Forum</th>
    <th>Creator</th>
    <th>Topic Counts</th>
    <th></th>
    <th></th>
  </tr>
    <% @forums.each do |forum| %>
      <tr>
      	
       	<td><%= link_to forum.title, forum %></td>
        <td><%= forum.user.email %></td>
        <td><%= forum.topics.count %></td>
        <% if can? :manage, User %>
        <td><%= link_to 'Edit', edit_forum_path(forum) %></td>
        <td><%= link_to 'Destroy', forum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
</table>
<% if can? :manage, User %>
<button type="button" class="btn btn-success"><%= link_to 'New Forum', new_forum_path %></button>
<% end %>
</div>

</div>
<br>


