<p>
  <strong>Topic:</strong>
  <h2><%= @forum.topic %></h2>
</p>

<p>
  <strong>Creator:</strong>
  <%= @forum.user.email %>
</p>

<hr>

<% @forums_posts.each do |p| %>
  <p>
    <strong>Description</strong>
    <%= p.description %>
  </p>
  <p>
    <strong>Creator:</strong>
    <%= p.user.email %>
  </p>
  <hr>
<% end %>

<%= form_for @forums_post do |f| %>
  <%= f.hidden_field :forum_id, value: @forum.id %>
  <p>
    <%= f.label :description %>
  </p>
  <p>
    <%= f.text_area :description %>
  </p>
  <%= f.submit "Post" %>
<% end %>


<%= link_to 'Edit', edit_forum_path(@forum) %> |
<%= link_to 'Back', forums_path %>
