
<div id= "forum_align">
<p>
  
  <h2><%= @forum.topic %></h2>
</p>

<p>
  <strong>Thread Creator:</strong>
  <%= @forum.user.email %>
</p>

<hr>
<hr>

<% @forums_posts.each do |p| %>
  <p>
    <strong>Post:</strong>
    <%= p.description %>
  </p>
  <p>
    <small>User:</small>
    <small><%= p.user.email %></small>
  </p>
  <p>
  	<small>Post Time:</small>
  	<small><%= p.created_at %></small>
  </p>

  <% if can? :destroy, ForumsPost %>
    <%= link_to 'Destroy', p, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
  <%end %>
  
  <hr>
<% end %>

<%= form_for @forums_post do |f| %>
  <%= f.hidden_field :forum_id, value: @forum.id %>
  <p>
    <%= f.label :description %>
  </p>
  <p>
    <%= f.text_area :description, :cols => "100", :rows => "10" %>
  </p>
  <%= f.submit "Post" %>
<% end %>


<%= link_to 'Edit', edit_forum_path(@forum) %> |
<%= link_to 'Back to Forums', forums_path %>

</div>