
<div id= "forum_align">
<p>
  
  <h2><%= @forum.topic %></h2>
</p>

<p>
  <strong>Forum Creator:</strong>
  <%= @forum.user.email %>
</p>

<hr>
<hr>

<% @forums_posts.each do |p| %>
  <p>
    <strong>Post:</strong>
    <%= p.description %>
  </p>
  <p>
    <strong>User:</strong>
    <%= p.user.email %>
  </p>
  <p>
  	<strong>Post Time:</strong>
  	<%= p.created_at %>
  </p>
  
  <hr>
<% end %>

<%= form_for @forums_post do |f| %>
  <%= f.hidden_field :forum_id, value: @forum.id %>
  <p>
    <%= f.label :description %>
  </p>
  <p>
    <%= f.text_area :description, :cols => "100", :rows => "10" %>
  </p>
  <%= f.submit "Post" %>
<% end %>


<%= link_to 'Edit', edit_forum_path(@forum) %> |
<%= link_to 'Back to Forums', forums_path %>

</div>