<%= form_for(@forums_post) do |f| %>
  <% if @forums_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forums_post.errors.count, "error") %> prohibited this forums_post from being saved:</h2>

      <ul>
      <% @forums_post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :forums_id %><br>
    <%= f.text_field :forums_id %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
