<h1>Listing forums_posts</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Forums</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @forums_posts.each do |forums_post| %>
      <tr>
        <td><%= forums_post.user %></td>
        <td><%= forums_post.forums %></td>
        <td><%= forums_post.description %></td>
        <td><%= link_to 'Show', forums_post %></td>
        <td><%= link_to 'Edit', edit_forums_post_path(forums_post) %></td>
        <td><%= link_to 'Destroy', forums_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Forums post', new_forums_post_path %>
