<%= form_for(@post, :url => reply_forum_topic_path(:forum_id=>@forum, :id=>@topic)) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this reply from being saved:</h2>
 
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area(:body, :size => "60x10")%>
  </div>
  
 
  <div class="actions">
    <%= f.submit(:value => "Create Reply")%>
  </div>
<% end %>