<div class="mainbackground">
<div id="forumsshow">

	<%= link_to @topic.forum.title, @topic.forum%>
	<p id="notice"><%= notice %></p>

	<table class="table forum-striped">
  	<tr>
    	<th><%= @topic.title %></th>
    	<th>Body</th>
  	</tr>
  	<% @topic.posts.each do |post| %>
  	<tr>
    	<td style="width:25%;">
      		<%= link_to post.user.email, post.user %>
      		Posted At <%= post.created_at%>
    	</td>
    	<td>
      		<p><%=post.body%></p>
    	</td>
  	</tr>
  <% end %>
</table>
<%= link_to 'Reply', reply_forum_topic_path(:forum_id=>@forum, :id=>@topic)%>|
	<%= link_to 'Edit', edit_topic_path(@topic) %>|
		<%= link_to 'Back', topics_path %>|
			<%= link_to @topic.forum.title, @topic.forum%>
</div>
</div>
 


