<script type="text/javascript">
    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });
</script>

<%= simple_form_for([@category, @recipe]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
	<div class = "row">
    <%= f.input :name %>
	</div>
	<div class="row">
    <%= f.input :description, :label => "Ingredients" %>
    <div class="form-actions">
    <%= f.button :submit, class: "btn btn-success" %>
  </div>
    </div>
    </br>
	<div class = "row">
    <%= f.input :instructions %>
    </div>
    </br>
    <div class= "row">
    <%= f.input :imagesrc, :label => "Recipe Image"%>
	</div>
	
 </div>
</br>


<% end %>

