<script type="text/javascript">
    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });
</script>

<div id= "forum_align">
<h1>Listing recipes</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Recipe Image</th>	
      <th>Name</th>
      <th>Ingredients</th>
      <th>Instructions</th>
      <th>Rating</th>
      <th></th>
      
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
      
      	<td style="width:200px;"><%= link_to image_tag(recipe.imagesrc, class: 'list_image'), category_recipe_path(@category, recipe), 'data-no-turbolink' => true %></td>
        <td style="width:150px;"><strong><%= recipe.name %></strong></td>
        <td><%= recipe.description %></td>
        <td><%= recipe.instructions %></td>
        <td><%= rating_for recipe, "recipe", 'data-no-turbolink' => true %></td>
        <td><%= link_to 'Show', category_recipe_path(@category, recipe), class: 'btn btn-info', 'data-no-turbolink' => true %>
        
          <% if can? :update, Recipe %>
            <%= link_to 'Edit', edit_category_recipe_path(@category, recipe), class: 'btn btn-primary' %>
          <% end %>
        
        
          <% if can? :destroy, Recipe %>
            <%= link_to 'Destroy', category_recipe_path(@category, recipe), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, Recipe %>
  <%= link_to 'New Recipe', new_category_recipe_path(@category) %>
<% end %>
|<%= link_to ' Back', categories_path %>


</div>
<div id= "forum_align">

<%= will_paginate @recipes, 'data-no-turbolink' => true %>

</div>
