<script type="text/javascript">
    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });
</script>

<div id= "recipes_align">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>
<hr>
<p>
  <strong>User:</strong>
  <%= @recipe.user.email %>
</p>

<hr>

<p>
  <strong>Description:</strong>
 <%= @recipe.description %>
</p>

<hr>

<p>
  <strong>Instructions:</strong>
  <%= @recipe.instructions %>
</p>

<hr>

<%= link_to 'Edit', edit_category_recipe_path(@category, @recipe) %> |
<%= link_to 'Back', category_recipes_path(@category) %>

</div>
