<script type="text/javascript">
    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });
</script>
<div id= "forum_align">
<h1>Listing users</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Email</th>
      <th>Category</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.category_name %></td>
        <td><%= link_to 'Show', user, class: 'btn btn-info' %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-primary' %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
