<% content_for :title do %>Valdosta Moves<% end %>
<% content_for :description do %>Valdosta Moves Version 1<% end %>
<div class="mainbackground">
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<script type="text/javascript">
    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });
</script>
 <script>
        $(document).ready(function () {
            $("#twitterbtnmobile").click(function () {
                $(twittermobile).fadeToggle(2000);
                if ($(twittermobile).is(':visible')) {
                	$("html, body").animate({scrollTop: $(twittermobile).offset().top});
                }
            });
        });
    </script>
 <script>
        $(document).ready(function () {
            $("#eventbtnmobile").click(function () {
                $(eventtablemobile).fadeToggle(2000);
                if ($(eventtablemobile).is(':visible')) {
                	$("html, body").animate({scrollTop: $(eventtablemobile).offset().top});
                }
            });
        });
    </script>

<article class="boxedcontainer">

	<!--
	#################################
		- THEMEPUNCH BANNER -
	#################################
	-->

	<div class="tp-banner-container">
	  <div class="tp-banner" >
		<ul>	<!-- SLIDE  -->
		  <li data-transition="fade" data-slotamount="15" data-masterspeed="1500" data-delay="12000" >
					<!-- MAIN IMAGE -->
		    <%= image_tag("vm.png",  :alt=>"slidebg1",  :"data-bgfit"=>"cover", :"data-bgposition"=>"left top", :"data-bgrepeat"=>"no-repeat") %>
					<!-- LAYERS -->

					<div class="tp-caption finewide_large_white customin customout tp-resizeme"
						data-x="25" data-hoffset="0"
						data-y="25" data-voffset="-40"
						data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="500"
						data-easing="Power3.easeInOut"
						data-splitin="chars"
						data-splitout="chars"
						data-elementdelay="0.08"
						data-endelementdelay="0.08"
						data-end="6000"
			data-endspeed="500"
						style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">Welcome to
			</div>
			
			<div class="tp-caption finewide_large_white customin customout"
	data-x="25"
	data-y="85"

	data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
	data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"

	data-start="1600"
	data-speed="1000"
	data-easing="Sine.easeInOut"

	data-end="6000"
	data-endspeed="600"
	data-endeasing="Bounce.easeIn"
	style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;"
	>Valdosta Moves
</div>

<div class="tp-caption  customin customout"
	data-x="668"
	data-y="243"

	data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
	data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"

	data-start="1600"
	data-speed="1000"
	data-easing="Power2.easeIn"

	data-end="6000"
	data-endspeed="600"
	data-endeasing="Bounce.easeIn"
	style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"
	><%= image_tag("running.gif") %>
</div>

<div class="tp-caption finewide_large_white customin customout"
	data-x="center"
	data-y="25"

	data-customin="x:260;y:-170;z:-10;rotationX:470;rotationY:40;rotationZ:-130;scaleX:3;scaleY:0.1;skewX:31;skewY:39;opacity:0;transformPerspective:600;transformOrigin:100% 0%;"
	data-customout="x:430;y:-390;z:-30;rotationX:-190;rotationY:-260;rotationZ:190;scaleX:1.6;scaleY:1.4;skewX:15;skewY:12;opacity:0;transformPerspective:600;transformOrigin:-150% -40%;"

	data-start="6200"
	data-speed="2500"
	data-easing="Elastic.easeIn"
	data-end="60000"
	data-endeasing="Circ.easeIn"
	style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;"
	>Your Home For
</div>

<div class="tp-caption modern_big_redbg customin customout"
	data-x="25"
	data-y="95"

	data-customin="x:190;y:300;z:-20;rotationX:240;rotationY:180;rotationZ:170;scaleX:2.3;scaleY:0.4;skewX:25;skewY:34;opacity:0;transformPerspective:600;transformOrigin:30% 110%;"
	data-customout="x:450;y:-20;z:20;rotationX:270;rotationY:-430;rotationZ:-430;scaleX:2.8;scaleY:2.4;skewX:4;skewY:59;opacity:0;transformPerspective:600;transformOrigin:100% -110%;"

	data-start="8000"
	data-speed="3300"
	data-easing="Power4.easeOut"

	data-end="60000"
	data-endeasing="Power0.easeIn"
	style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;"
	>Events
</div>

<div class="tp-caption modern_big_redbg customin customout"
	data-x="25"
	data-y="145"

	data-customin="x:190;y:300;z:-20;rotationX:240;rotationY:180;rotationZ:170;scaleX:2.3;scaleY:0.4;skewX:25;skewY:34;opacity:0;transformPerspective:600;transformOrigin:30% 110%;"
	data-customout="x:450;y:-20;z:20;rotationX:270;rotationY:-430;rotationZ:-430;scaleX:2.8;scaleY:2.4;skewX:4;skewY:59;opacity:0;transformPerspective:600;transformOrigin:100% -110%;"

	data-start="8500"
	data-speed="3300"
	data-easing="Power4.easeOut"

	data-end="60000"
	data-endeasing="Power0.easeIn"
	style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;"
	>Healthy Food
</div>

<div class="tp-caption modern_big_redbg customin customout"
	data-x="25"
	data-y="195"

	data-customin="x:190;y:300;z:-20;rotationX:240;rotationY:180;rotationZ:170;scaleX:2.3;scaleY:0.4;skewX:25;skewY:34;opacity:0;transformPerspective:600;transformOrigin:30% 110%;"
	data-customout="x:450;y:-20;z:20;rotationX:270;rotationY:-430;rotationZ:-430;scaleX:2.8;scaleY:2.4;skewX:4;skewY:59;opacity:0;transformPerspective:600;transformOrigin:100% -110%;"

	data-start="9000"
	data-speed="3300"
	data-easing="Power4.easeOut"

	data-end="60000"
	data-endeasing="Power0.easeIn"
	style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;"
	>& Exercise
</div>

<div class="tp-caption modern_big_redbg customin customout"
	data-x="25"
	data-y="245"

	data-customin="x:190;y:300;z:-20;rotationX:240;rotationY:180;rotationZ:170;scaleX:2.3;scaleY:0.4;skewX:25;skewY:34;opacity:0;transformPerspective:600;transformOrigin:30% 110%;"
	data-customout="x:450;y:-20;z:20;rotationX:270;rotationY:-430;rotationZ:-430;scaleX:2.8;scaleY:2.4;skewX:4;skewY:59;opacity:0;transformPerspective:600;transformOrigin:100% -110%;"

	data-start="9500"
	data-speed="3300"
	data-easing="Power4.easeOut"


	data-end="60000"
	data-endeasing="Power0.easeIn"
	style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;"
	>In the Azalea City
</div>
		  </li>
		  
		  <!-- SLIDE  -->
	<li data-transition="cubic" data-slotamount="5" data-masterspeed="900" >
		<!-- MAIN IMAGE -->
			<%= image_tag("fam.png",  :alt=>"newslide2014_1",  :"data-bgposition"=>"center top", :"data-bgfit"=>"cover", :"data-bgrepeat"=>"no-repeat") %>
					<!-- LAYERS -->	
					
			<div class="tp-caption modern_medium_fat customin customout tp-resizeme"
						data-x="25" data-hoffset="0"
						data-y="25" data-voffset="-40"
						data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="500"
						data-easing="Power3.easeInOut"
						data-splitin="chars"
						data-splitout="chars"
						data-elementdelay="0.025"
						data-endelementdelay="0.08"
						data-end="6000"
			data-endspeed="500"
						style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">Remember to come back every day and report your exercise to earn points
			</div>	
			
			<div class="tp-caption modern_medium_fat customin customout"
	data-x="25"
	data-y="85"

	data-customin="x:-160;y:-460;z:-10;rotationX:280;rotationY:210;rotationZ:410;scaleX:0.6;scaleY:2.3;skewX:60;skewY:23;opacity:0;transformPerspective:600;transformOrigin:50% -80%;"
	data-customout="x:-420;y:400;z:-50;rotationX:-380;rotationY:-260;rotationZ:150;scaleX:3;scaleY:2;skewX:32;skewY:32;opacity:0;transformPerspective:600;transformOrigin:-60% 150%;"

	data-start="1000"
	data-speed="3000"
	data-easing="Elastic.easeInOut"

	
	data-endspeed="1000"
	data-endeasing="Expo.easeOut"
	style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;"
	>For a chance to win prizes from local restaurants and gyms!
</div>

<div class="tp-caption modern_small_text_dark customin customout"
	data-x="850"
	data-y="150"

	data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
	data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"

	data-start="3500"
	data-speed="600"
	data-easing="Linear.easeNone"

	
	data-endspeed="600"
	data-endeasing="Linear.easeNone"
	style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"
	>Hover over the point box to see how to earn more. 
</div>

<div class="tp-caption customin customout"
	data-x="1000"
	data-y="25"

	data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
	data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"

	data-start="3500"
	data-speed="600"
	data-easing="Linear.easeNone"

	
	data-endspeed="600"
	data-endeasing="Linear.easeNone"
	style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;"
	><%= image_tag("arrowup.png" , :alt=>"") %>
</div>
			</li>
			
			<!-- SLIDE  -->
	<li data-transition="random-static" data-slotamount="5" data-masterspeed="900" >
	<!-- MAIN IMAGE -->
			<%= image_tag("bg.png",  :alt=>"health",  :"data-bgposition"=>"center top", :"data-bgfit"=>"cover", :"data-bgrepeat"=>"no-repeat") %>
					<!-- LAYERS -->
			<div class="tp-caption customin customout"
	data-x="center"
	data-y="75"

	data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
	data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"

	data-start="500"
	data-speed="600"
	data-easing="Linear.easeNone"

	
	data-endspeed="600"
	data-endeasing="Linear.easeNone"
	style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;"
	><%= image_tag("water.png" , :alt=>"") %>
</div>

<div class="tp-caption large_text customin customout"
	data-x="center"
	data-y="top"

	data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
	data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"

	data-start="500"
	data-speed="600"
	data-easing="Linear.easeNone"

	
	data-endspeed="600"
	data-endeasing="Linear.easeNone"
	style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;"
	>Health Tip of the Day: Drink Plenty of Water
</div>
</li>

		<!-- SLIDE  -->
	<li data-transition="random-static" data-slotamount="5" data-masterspeed="900" >
	<!-- MAIN IMAGE -->
			<%= image_tag("bg.png",  :alt=>"workout",  :"data-bgposition"=>"center top", :"data-bgfit"=>"cover", :"data-bgrepeat"=>"no-repeat") %>
					<!-- LAYERS -->
			<div class="tp-caption customin customout"
	data-x="center"
	data-y="75"

	data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
	data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"

	data-start="500"
	data-speed="600"
	data-easing="Linear.easeNone"

	
	data-endspeed="600"
	data-endeasing="Linear.easeNone"
	style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;"
	><%= image_tag("workout.png" , :alt=>"") %>
</div>

<div class="tp-caption large_text customin customout"
	data-x="center"
	data-y="top"

	data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
	data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"

	data-start="500"
	data-speed="600"
	data-easing="Linear.easeNone"

	
	data-endspeed="600"
	data-endeasing="Linear.easeNone"
	style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;"
	>Workout for Beginners
</div>
</li>
				
				<!-- SLIDE  -->
		  <li data-transition="zoomin" data-slotamount="7" data-masterspeed="600" >
					<!-- MAIN IMAGE -->
			<%= image_tag("videobg1.png",  :alt=>"videobg1",  :"data-bgfit"=>"cover", :"data-bgposition"=>"left top", :"data-bgrepeat"=>"no-repeat") %>
					<!-- LAYERS -->

					<!-- LAYER NR. 1 -->
			<div class="tp-caption medium_bg_red sfr customout"
						data-x="129"
						data-y="88"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="500"
						data-start="1600"
						data-easing="Power4.easeOut"
						data-endspeed="500"
						data-captionhidden="on"
						style="z-index: 2">Last Week's Best VM Event!
			</div>

					<!-- LAYER NR. 6 -->
			<div class="tp-caption sft customout"
						data-x="399"
						data-y="385"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="1000"
						data-start="1500"
						data-easing="Back.easeOut"
						data-endspeed="500"
						data-captionhidden="on"
						style="z-index: 7"><%= image_tag("videoshadow.gif", :alt=>"") %>
			</div>

					<!-- LAYER NR. 7 -->
			<div class="tp-caption customin customout"
						data-x="center" data-hoffset="134"
						data-y="center" data-voffset="-6"
						data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="600"
						data-start="1000"
						data-easing="Power4.easeOut"
						data-endspeed="500"
						data-endeasing="Power4.easeOut"
						data-autoplay="false"
						data-autoplayonlyfirsttime="false"
						style="z-index: 8"><iframe src="//www.youtube.com/embed/lKd7Ub_UBk0" width='640' height='360' style='width:640px;height:360px;'></iframe>
			</div>
		  </li>
				
		  </li>
		</ul>
	    <div class="tp-bannertimer"></div>
      </div>
    </div>



	<!-- THE SCRIPT INITIALISATION -->
	<!-- LOOK THE DOCUMENTATION FOR MORE INFORMATIONS -->
	<script type="text/javascript">

		var revapi;

		jQuery(document).ready(function() {

			   revapi = jQuery('.tp-banner').revolution(
				{
					delay:9000,
					startwidth:1170,
					startheight:500,
					hideThumbs:10,
					fullWidth:"on",
					forceFullWidth:"on"

				});

		});	//ready

	</script>
	<!--<p class="text-center"><button id="startTourBtn" class="btn btn-large btn-primary">Take a tour</button></p>
	<div id="hopscotch-title">HEELO </div>
	<div id="Where to begin">Begin here </div>
	<div id="my-first-tour-file">HEELO.js </div>
	<div id="start-tour">startour(tour) </div>
	<div id="basic-options">basic options </div>
	</article>
	</br>-->
</br>
<div id="eventbtnmobile">
	<button class="btn btn-warning">Upcoming Events</button>
</div>
<div id="twitterbtnmobile">
	<button class="btn btn-warning">VM Tweets</button>
</div>	
<div id="eventtablemobile" align="center">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Event Date</th>
      </tr>
    </thead>
	  <% @events = Event.all %>

    <tbody>
     

      <% @events.each do |event| %>
      <% if event.end > Date.today.to_s %>
        <tr>
          <td><%= event.title %></td>
          <td><%= event.start.strftime("%m / %d / %Y") %></td>
        </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
	
<div id="twittermobile">	
    <a class="twitter-timeline" href="https://twitter.com/search?q=%40ValdostaMoves" data-widget-id="448236534693502978">Tweets about "@ValdostaMoves"</a>
  </div>
  


