<% content_for :title do %>Valdosta Moves<% end %>
<% content_for :description do %>Valdosta Moves Version 1<% end %>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
<li data-target="#myCarousel" data-slide-to="1"></li>
<li data-target="#myCarousel" data-slide-to="2"></li>
<li data-target="#myCarousel" data-slide-to="3"></li>
</ol>
<div class="carousel-inner">
<div class="item active">
<%= image_tag '3ReasonsGains.png' %>
<div class="carousel-caption text-center">
<fieldset>3 Surprising Reasons You Aren't Seeing Results at the Gym </fieldset>
</div>
</div>
<div class="item">
<%= image_tag 'BadPersonalTrainer.png' %>
<div class="carousel-caption text-center">
<fieldset>How to Spot a Bad Trainer </fieldset>
</div>
</div>
<div class="item">
<%= image_tag 'protein.png' %>
<div class="carousel-caption text-center">
<fieldset>How Protien Becomes Muscle </fieldset>
</div>
</div>
<div class="item">
<%= image_tag 'trap-bar.png' %>
<div class="carousel-caption text-center">
<fieldset>The Best Abs Workout Ever </fieldset>
</div>
</div>
</div>
<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span
class="icon-prev"></span></a>
<a class="right carousel-control" href="#myCarousel" data-slide="next" margin-right="25%"><span
class="icon-next"></a>
</div>
	</br>
	</article><!-- Content End -->
	<div><table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Event Date</th>
    </tr>
  </thead>
	<% @events = Event.all %>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.start.strftime("%m / %d / %Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table></div>
	<div align="center">
<a class="twitter-timeline" href="https://twitter.com/search?q=%40ValdostaMoves" data-widget-id="448236534693502978">Tweets about "@ValdostaMoves"</a>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

	</div>
</br>
