<h1 align="center">One Stop Health Tips</h1>

<div style="display: inline";>
<ul style="float:left;", position: absolute>
	<li>
		<a href="http://allrecipes.com/">Recipes</a>
	</li>
	<li>
		<a href="http://www.nutrition.gov/">Nutritions</a>
	</li>
	<li>
		<a href="http://www.webmd.com/fitness-exercise/guide/fitness-beginners-guide">Guild</a>
	</li>
	<li>
		<a href="http://health.nih.gov/">Health</a>
	</li>
	
</ul>
</div>
<div style="display: inline";>
<fieldset align="center">
  <legend align="center">
    Health Tips:  
  </legend>
  <table style="float:right;" border="1" cellpadding="0" cellspacing="0" width="50" height="100">
    <tr valign="center">
      <td align="center"><%= image_tag("cookbook.jpg", :alt => "rss feed", size: "200x200")  %></td>
      <td align="center"><%= image_tag("nfc01.gif", :alt => "rss feed", size: "200x200")  %></td>
      <td align="center"><%= image_tag("IMG_1675.jpg", :alt => "rss feed", size: "200x200")  %></td>
      <td align="center"><%= image_tag("healthrelcon.gif", :alt => "rss feed", size: "200x200")  %></td>
	  <td align="center"><%= image_tag("img.jpg", :alt => "rss feed", size: "200x200")  %></td>
	  <td align="center"><%= image_tag("5comps.jpg", :alt => "rss feed", size: "200x200")  %></td>
    </tr>
  </table>
</fieldset>
</div>

