<script type="text/javascript">
    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });
</script>
<%= form_for @gym do |f| %>

	<div class="field">
    	<%= f.label :name %><br>
    	<%= f.text_field :title %>
  	</div>
  	<div class="field">
    	<%= f.label :description %><br>
    	<%= f.text_field :description %>
  	</div>
    <div class="field">
    	<%= f.label :address %><br>
    	<%= f.text_field :address %>
  	</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
