<script type="text/javascript">
    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });
</script>
<div id= "newevent">
<p>
  
  <h3>Report your daily activities and win prizes! The more active you are the better chance you have of winning prizes.</h3>
</p>
</div>



<div id="newevent2">
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Activity</th>
      <th>Duration</th>
      <th>User</th>
      <th>Date</th>
      <th>Time</th>
    </tr>
  </thead>

  <tbody id="changetable">
    <% @activities.each do |p| %>
      <tr>
      	
        <td><%= p.posts %></td>
        <td><%= p.duration %> minutes</td>
        <td><%= p.user.email %></td>
        <td><%= p.created_at.strftime("%m / %d / %Y") %></td>
        <td><%= p.created_at.strftime("%I:%M %p") %></td>
        <td><% if can? :destroy, Activity %>
    	<%= link_to 'Destroy', p, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
  		<%end %>
  		</td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>  



<div id="newevent2">
<% @user = current_user %>
<% if @user != nil %>
<%= form_for Activity.new do |f| %>
  <p>
    <%= f.label :"What was your Activity/Exercise ?" %>
  </p>
  <p>
    <%= f.text_area :posts, :cols => "100", :rows => "10" %>
  </p>
  <p>
    <%= f.label :"How Long Did You Do This?" %>
    <%= f.select :duration, options_for_select(%w[15 30 45 60]) %> 
      	
  </p>
  <%= f.submit "Post", class: 'btn btn-success' %>
  <%= link_to 'Back', activities_path, class: 'btn btn-primary' %>
<% end %>

</div>
<% else %>
<div id="newevent">
<h4>You have to be logged in to post. If you're not a member, sign up for a chance to win prizes!</h4>
</div>
<% end %>
