<!DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  <title>Mobile Version!</title>

  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css"/>
  
  <script>
  $(document).bind("mobileinit", function () {
    	$.mobile.ajaxEnabled = false;
	});
  </script>
  <%= javascript_include_tag "jquery_ujs.js" %>
  <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

</head>
<body>

<div data-role="page">
  <div id="mainbackground">
	<%= render 'layouts/navigation' %>
  	

  	

    <main role="main">
       <%= render 'layouts/messages' %>
       <%= render "layouts/login_modal" %>
	   <%= render "layouts/sign_up_modal" %>
       <%= yield %>
    </main>
    
    <!--<a class="btn btn-large btn-success" href="javascript:void(0);" onclick="javascript:introJs().start();">Show me how</a>-->
    
    </div>
</div>
</body>
</html>
