<!DOCTYPE html>
<html>
  <head>
  	<!-- get jQuery from the google apis -->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js"></script>
		
		<!-- GOOGLE FONTS -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800' rel='stylesheet' type='text/css'>
	
  	<title>Valdosta Moves</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Vmoves" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Vmoves" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="mainbackground">
  	<div class="container">
     <a href="../home/index"> <%= image_tag("ValdostaMovesLogo.png") %> </a>
  	</div>
  	<div id="banner">
	  <%= @page_title || "Valdosta Moves" %>
	
	</div>
	<div id="linksbar">
	  <tr class="nav nav-pills">
        <td><a href="../home/index">Home</a></li>
        <td><a href="../events">Events</a></li>
        <td><a href="../health/index">Nutrition</a></li>
        <td><a href="../exercise/index">Exercise</a></li>
		<td><a href="../forums">Forums</a></li>
		<td><%= link_to 'Gyms' , gyms_path, 'data-no-turbolink' => true %></li>
		<td> 
			<% if user_signed_in? %>
  
  			<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
 
			<% else %>
  
 			 <%= link_to('Login', new_user_session_path)  %>  
  
<% end %>  
</td>
      </tr>
      
	</div>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
  
  <div id="wrap">
  <div id="main">
    <p>CopyRight VMoves 2014</p>
    <p>Alrights Reserved</p>
    <p>Contact us @ 229-848-0101</p>
    <p>2014 Valdosta Moves.Inc  1700 N. Patterson St., Valdosta, GA 31698</p>
  </div>
</div>
<footer class="footer"></footer>

</html>


