<!DOCTYPE html>
<html>
  <head>
  	<!-- get jQuery from the google apis -->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js"></script>

		<!-- GOOGLE FONTS -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800' rel='stylesheet' type='text/css'>

  	<title>Valdosta Moves</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Vmoves" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Vmoves" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });
</script>
  </head>
  <body>
    <div id="mainbackground">
  	<div class="container">
     
    
     
     <%= link_to image_tag('ValdostaMovesLogo.png'), root_path %>
     
     
  	</div>
  	<% @user = current_user %>
  	<% if @user != nil %>
  		<div class="points">
  		<a href="../activities"><button type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Earn points by getting out the house, playing, and staying healthy. If you run, play football, practice yoga, do a few push ups, or anything to keep yourself in shape we want to hear about it. Whatever activity or exercise you do for the day come back and report on our activities page. The more you do the more points you earn! You can also earn points by going to one of the user created events and coming back after it and rating the events. Everytime you rate an event you'll also earn points. Users with the most points at the end of each week will get prizes from local gyms and restaurants! Click on this button to go to our Activites page.">You have <%= pluralize @user.points + @user.event_points, 'point' %> this week  <br /><span class="hover">(hover over this to see how to earn more points)</span></button></a>
  		</div>
  	<% else %>
  		<div class="points">
  		<a href="../activities"><button type="button" class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Earn points by getting out the house, playing, and staying healthy. If you run, play football, practice yoga, do a few push ups, or anything to keep yourself in shape we want to hear about it. Whatever activity or exercise you do for the day come back and report on our activities page. The more you do the more points you earn! You can also earn points by going to one of the user created events and coming back after it and rating the events. Everytime you rate an event you'll also earn points. Users with the most points at the end of each week will get prizes from local gyms and restaurants! Click on this button to go to our Activites page.">You have 0.0 points this week  <br /><span class="hover">(hover over this to see how to earn more points)</span></button></a>
  		</div>
  	<% end %>
    
  	<div id="banner">
	  <%= @page_title || "Valdosta Moves" %>

	</div>
	<div id="linksbar">
	<div class="linkbar">
	  <ul class="nav nav-pills custom">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Events', events_path, 'data-no-turbolink' => true %></li>
        <li><%= link_to "Nutrition", categories_path, 'data-no-turbolink' => true %>
        <li><%= link_to "Exercise",exercise_index_path %> </li>
		<li><%= link_to 'Forums', forums_path %></li>
        <li><%= link_to 'Gyms' , gyms_path, 'data-no-turbolink' => true %></li>
		<% if can? :manage, User %>
      <li><%= link_to 'Users' , users_path %></li>
		<% end %>
    <li> 
			<% if user_signed_in? %>
  
  			<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
 
			<% else %>
  
 			 <%= link_to('Login', new_user_session_path)  %>
 	 			 
		<% end %>  
</li>
      </ul>
      </div>
      
	</div>

    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
  
  


</html>